<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Manager</title>
</head>
<body>
 <header>
    <div class="links">
        <a href="/">Instructors</a>
        <a href="/members">Members</a>
        {% block rout%}

        {% endblock %}
    </div>
    
 </header>

      {% block content %}

      {%endblock%}


</body>
</html>