{% extends "layout.njk" %}

{% block content  %}

<form class="card" method="post" action="/instructors">
    <section class="avatar" style="  background: url(https://source.unsplash.com/collection/3465564/1080x1920) no-repeat center center / cover ">       
    </section>
    <section class="details">

          <h3>Novo Instrutor </h3>
           <div class="item">
               <div>Avatar Url -  Copie o link da sua foto</div>
               <div>
                <input type="url"
                name="avatar_URL"
                placeholder= "https://"
                >
               </div>
           </div>

           <div class="item">
               <div>Data de Nascimento</div>
               <div> 
                <input type="date" 
                       name="birth"
                >
               </div>
           </div>

           <div class="item">
               <div>Sexo</div>
               <div>
                <span><input type="radio" name="gender" value="M" checked >-MASCULINO</span>
                <span><input type="radio" name="gender" value="F"  >-FEMENINO</span>
               </div>
           </div>

          <div class="item">
               <div>Área de atuação </div>
               <div>
                    <input type="text"
                     name="services"
                     placeholder="Separe os serviços por virgula."
                    >
               </div>
          </div>
        
        <button type="submit"> Enviar</button>

    </section>
</form>

{%  endblock  content  %}