{% extends "layout.njk" %}

{% block content  %}

<form class="card" method="post" action="/instructors">
    <section class="avatar" style="background: url('https://th.bing.com/th/id/R.bc1d7426a8e9dde44193b11af877e240?rik=QERPDXsnXQfxGg&riu=http%3a%2f%2fwww.acquaville.com.br%2faulas-de-ginastica%2fimagens%2facademia-de-musculacao-completa.jpg&ehk=60PXzLDV5wzuTHMW%2bhso5dUpa2Li4Rnbm0OoCRexEWk%3d&risl=&pid=ImgRaw&r=0g/') no-repeat center center / cover ">       
    </section>
    <section class="details">

          <h3>Novo Instrutor </h3>
           <div class="item">
               <div>Avatar Url -  Copie o link da sua foto</div>
               <div>
                <input type="url"
                name="avatar_URL"
                placeholder= "https://"
                >
               </div>
           </div>
           <div class="item">
            <div>Digite seu Nome</div>
            <div>
                <input type="text"
                name="name"
                placeholder="Nome do novo instructor" required>
            </div>
           </div>

           <div class="item">
               <div>Data de Nascimento</div>
               <div> 
                <input
                 type="date" 
                 name="birth" required>
               </div>
           </div>

           <div class="item">
               <div>Sexo</div>
               <div>
                <span><input type="radio" name="gender" value="Masculino" checked >-MASCULINO</span>
                <span><input type="radio" name="gender" value="Femenino"  >-FEMENINO</span>
               </div>
           </div>

          <div class="item">
               <div>Área de atuação </div>
               <div>
                    <input type="text"
                     name="services"
                     placeholder="Separe os serviços por virgula." required
                    >
               </div>
          </div>
        
        <button type="submit"> Enviar</button>

    </section>
</form>

{%  endblock  content  %}