{% extends "layout.njk" %}

{% block content  %}

<div class="card">
    <section class="avatar" style="  background: url(https://img.elo7.com.br/product/zoom/2D52B4B/papel-de-parede-academia-exercicio-musculacao-gym-gg792-adesivo-de-parede.jpg) no-repeat center center / cover ">       
    </section>
    <section class="details">
          <h3>Detalhes</h3>
           <div class="item">
               <div>Instrutor</div>
               <div>Emille Fernandes</div>
           </div>
           <div class="item">
               <div>Idade</div>
               <div>28 Anos</div>
           </div>
           <div class="item">
               <div>Sexo</div>
               <div>Femineno</div>
           </div>
          <div class="item">
               <div>Acompanhamento</div>
               <div>
                    <span> Musculação</span>
                    <span> Crossfit </span>
               </div>
          </div>
          <div class="item" >
               <div>Instrutor desde de</div>
               <div>01/01/2019</div>
           </div>
    </section>
</div>

{%  endblock  content  %}